.background_cafeteria {
    background: 
    linear-gradient(rgba(100, 8, 77, 0.5), rgba(0,0,0,0.5)), /* overlay negro semi-transparente */
    url("imagenes/fondo_ladrillo.png") repeat-x;
  background-size: auto 100%;
  background-attachment: fixed;  /* el fondo se queda quieto */
  width: 100%;
  height: 100vh;
  animation: mover-fondo 40s linear infinite;
}
@keyframes mover-fondo {
  from { background-position: 0 0; }
  to { background-position: -1000px 0; }
}
.home {
    margin: 0;
    padding: 0;
}