.background_cafeteria {
  background: url("../imagenes/fondo_ladrillo.png") no-repeat center center;
  background-size: cover;
  width: 100%;   /* Para que ocupe toda la pantalla */
  height: 100vh; /* Alto de la pantalla */
}
