.navbar {
  margin-top: 10px;
}

/* El svg abajo a la derecha */
.outline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px; /* ancho fijo de la barra */
  height: 60px;
  pointer-events: none;
}

.rect {
  stroke-dashoffset: 5;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s;
  stroke: #fff;
}

.btn:hover ~ .outline .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 0 10 40 10 400;
  transition: 0.5s !important;
}
