{% extends "bowl/navbar.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bowl/galeria.css' %}">
{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Galería / Fotos</h1>

    <p>Acá podés ver algunos momentos divertidos en Space Bowling y disfrutar de nuestras instalaciones.</p>

    <h2>Video de Bowling</h2>
    <div class="video-container">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/_qh4yOwCgOg" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
{% endblock %}
