{% extends 'bowl/navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bowl/login.css' %}">
{% endblock %}

{% block content %}
    <div class = "container">
    <div class="login-container">
        <h2>Inicia sesión</h2>

        <form method="post">
            {% csrf_token %}
            
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Entrar</button>
        </form>

        {% if form.errors %}
            <p class="error">Usuario o contraseña incorrectos</p>
        {% endif %}

        <p class="register-link">
            ¿No tienes cuenta? 
            <a href="{% url 'inicio' %}">Regístrate</a>
        </p>
    </div>
    </div>
{% endblock content %}