{% extends 'bowl/navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bowl/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>¡Bienvenidos a Spacebowling!</h1>
    <p>Descubre nuestros servicios y lo que tenemos para ofrecerte.</p>
</div>

<div class="features-grid">
    <div class="feature-item">
        <a href="{% url 'nosotros' %}" target="_blank" class="cta-button">Nosotros / Historia</a>
    </div>
    <div class="feature-item">
        <a href="{% url 'galeria' %}" target="_blank" class="cta-button">Galería / Fotos</a>
    </div>
    <div class="feature-item">
        <a href="{% url 'reglas' %}" target="_blank" class="cta-button">Reglas del Bowling y el Establecimiento</a>
    </div>
</div>
