{% extends 'bowl/navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bowl/reserva.css' %}">
{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>Mis Reservas</h1>
    <p>Visualiza tus reservas y gestiona nuevas reservas de pistas.</p>
    <a href="{% url 'nueva_reserva' %}" class="cta-button">Nueva Reserva</a>

</div>

<div class="reservas-container">
    {% if reservas %}
        {% for reserva in reservas %}
        <div class="reserva-card">
            <h3>Pista: {{ reserva.pista.tipo_pista.tipo }} ({{ reserva.pista.tipo_pista.zona }})</h3>
            <p><strong>Fecha:</strong> {{ reserva.fecha }}</p>
            <p><strong>Hora:</strong> {{ reserva.hora }}</p>
            <p><strong>Precio:</strong> ${{ reserva.precio_total }}</p>
            <p><strong>Estado:</strong> {{ reserva.estado.nombre }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-reservas">No tienes reservas registradas.</p>
    {% endif %}
</div>
{% endblock %}
