<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bowl/navbar.css' %}">
    
    {% block extra_css %}
    {% endblock %}
    
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Dashboard Top Menu</title>
</head>
<body>
    <nav class="navbar">
        <div class="image-text">
            <span class="image"></span>
            <div class="logo-text">
            </div>
        </div>

        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'inicio' %}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Inicio</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'lista_pistas' %}">
                        <i class='bx bx-bowling-ball icon'></i>
                        <span class="text nav-text">Pistas</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'lista_comida' %}">
                        <i class='bx bx-coffee icon'></i>
                        <span class="text nav-text">Cafeteria</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'reserva' %}">
                        <i class='bx bx-calendar icon'></i>
                        <span class="text nav-text">Reservas</span>
                    </a>
                </li>
                {% if  Usuario.rol == "Administrador"%}
                    <li class="nav-link">
                        <a href="{% url 'asignar' %}">
                            <i class='bx bx-calendar icon'></i>
                            <span class="text nav-text">Asignar</span>
                        </a>
                    </li>
                {% endif %}
                <!-- Nuevo botón de contacto -->
                <li class="nav-link">
                    <a href="{% url 'contacto' %}">
                        <i class='bx bx-envelope icon'></i>
                        <span class="text nav-text">Contacto</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            {% if request.user.is_authenticated %}
                <div class="profile">   
                    <i class='bx bx-user icon'></i>
                    <span class="text nav-text">Perfil</span>
                    <div class="profile-dropdown">
                        <div class="mode-switch">
                            <i class='bx bx-moon icon' id="mode-icon"></i>
                            <div class="toggle-switch"></div>
                        </div>
                        <form method="post" action="{% url 'cerrar_sesion' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-btn">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text">Cerrar Sesión</span>
                            </button>
                        </form>
                    </div>
                </div>                            
            {% else %}
                <div class="profile">
                    <div class="nav-link">
                        <a href="{% url 'iniciar_sesion' %}">
                            <span class="text nav-text">Iniciar Sesion</span>
                        </a>
                        <div class="profile-dropdown">
                            <div class="mode-switch">
                                <i class='bx bx-moon icon' id="mode-icon"></i>
                                <div class="toggle-switch"></div>
                            </div>
                        </div>  
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    
    <section class="home">
        {% block content %}
        {% endblock %}
    </section>

    <script>
        const body = document.querySelector('body'),
              modeSwitch = document.querySelector('.mode-switch'),
              modeIcon = document.getElementById('mode-icon');
        
        const setTheme = (theme) => {
            if (theme === 'dark') {
                body.classList.add('dark');
                modeIcon.classList.remove('bx-moon');
                modeIcon.classList.add('bx-sun');
            } else {
                body.classList.remove('dark');
                modeIcon.classList.remove('bx-sun');
                modeIcon.classList.add('bx-moon');
            }
        };

        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            setTheme(savedTheme);
        } else {
            setTheme('light');
        }

        modeSwitch.addEventListener('click', () => {
            const newTheme = body.classList.contains('dark') ? 'light' : 'dark';
            localStorage.setItem('theme', newTheme);
            setTheme(newTheme);
        });
    </script>
</body>
</html>
