
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bowl/navbar.css' %}">

    
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Dashboard Top Menu</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="image-text">
            <span class="image">
                </span>
            <div class="logo-text">
                <span class="name">Codinglab</span>
                <span class="profession">Web developer</span>
            </div>
        </div>
        <div class="menu">
            <div class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </div>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Revenue</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-heart icon'></i>
                        <span class="text nav-text">Likes</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-wallet icon'></i>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <div class="profile">
                <i class='bx bx-user icon'></i>
                <span class="text nav-text">LogIn</span>
                <div class="profile-dropdown">
                    <div class="mode-switch">
                        <i class='bx bx-moon icon' id="mode-icon"></i>
                        <span class="mode-text">Dark mode</span>
                        <div class="toggle-switch"></div>
                    </div>
                    <div class = "container-button">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       
  
    </nav>
    <section class="home">
        {% block content %}
        <div class="text">Dashboard Top Menu</div>
        {% endblock %}
    </section>

    <script>
        const body = document.querySelector('body'),
              modeSwitch = document.querySelector('.mode-switch'),
              modeText = document.querySelector('.mode-text'),
              modeIcon = document.getElementById('mode-icon');

        // Function to set the theme based on a parameter
        const setTheme = (theme) => {
            if (theme === 'dark') {
                body.classList.add('dark');
                modeText.innerText = "Light mode";
                modeIcon.classList.remove('bx-moon');
                modeIcon.classList.add('bx-sun');
            } else {
                body.classList.remove('dark');
                modeText.innerText = "Dark mode";
                modeIcon.classList.remove('bx-sun');
                modeIcon.classList.add('bx-moon');
            }
        };

        // On page load, apply the saved theme from local storage
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            setTheme(savedTheme);
        } else {
            // Default to light mode if no theme is saved
            setTheme('light');
        }

        // Handle the click event on the toggle switch
        modeSwitch.addEventListener('click', () => {
            const newTheme = body.classList.contains('dark') ? 'light' : 'dark';
            localStorage.setItem('theme', newTheme);
            setTheme(newTheme);
        });
    </script>
</body>
</html>