{% extends 'bowl/navbar.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bowl/reserva.css' %}">
{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>Reservas de Pistas</h1>
    <p>Visualiza tus reservas y reserva nuevas pistas para disfrutar con tus amigos y familia.</p>
    <a href="{% url 'reserva' %}" class="cta-button">Nueva Reserva</a>
</div>
{% if Usuario.is_authenticated and Usuario.rol == "Administrador" %}
    <div class="reservas-container">
        {% if reservas %}
            {% for reserva in reservas %}
            <div class="reserva-card">
                <h3>Pista: {{ reserva.pista.tipo_pista.tipo }} ({{ reserva.pista.tipo_pista.zona }})</h3>
                <p><strong>Fecha:</strong> {{ reserva.fecha }}</p>
                <p><strong>Hora:</strong> {{ reserva.hora }}</p>
                <p><strong>Precio:</strong> ${{ reserva.precio_total }}</p>
                <p><strong>Estado:</strong> {{ reserva.estado.nombre }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-reservas">No tienes reservas registradas.</p>
        {% endif %}
    </div>
{% else %}
    <div class="reservas-container">
        {% if reservas %}
            {% for reserva in reservas %}
                {% if reserva.usuario == Usuario %}
                <div class="reserva-card">
                    <h3>Pista: {{ reserva.pista.tipo_pista.tipo }} ({{ reserva.pista.tipo_pista.zona }})</h3>
                    <p><strong>Fecha:</strong> {{ reserva.fecha }}</p>
                    <p><strong>Hora:</strong> {{ reserva.hora }}</p>
                    <p><strong>Precio:</strong> ${{ reserva.precio_total }}</p>
                    <p><strong>Estado:</strong> {{ reserva.estado.nombre }}</p>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="no-reservas">No tienes reservas registradas.</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
